<div class="container-fluid main">
	<div class="row h-100 align-items-center justify-content-center">
    <div class="col-11 col-md-8 col-lg-6 col-xl-5 col-xxl-3">
      <h1>Login</h1>
      <form action="/auth" method="post" class="login-form border p-5 mt-3">
        <p class="text-danger mb-4">{{msg}}</p>
        <input name="email" class="form-control mb-4" type="email" placeholder="E-mail" required>
        <input name="password" class="form-control mb-4" type="password" placeholder="Password" required>
        <input class="btn btn-primary " type="submit">
      </form>
    </div>
	</div>
</div>